.container_vide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem 1rem ;
    min-height: 60vh;
}

@media (max-width: 480px) {
    .container_vide {
        padding: 1rem;
        min-height: 50vh;
    }
}